# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
.vscode/
*.ipr
*.iws

# Logs & OS
*.log
.DS_Store
Thumbs.db

# Spring / App
application-local.yml
application-local.yaml
*.env
